<!--
Dropbox location:
https://dl.dropboxusercontent.com/u/10578702/img/
-->
{% extends "_base.html" %}

{% block content %}

<div class="row">
<h3>Upload an Image</h3>
  <form action="uploader" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
  </form>
</div>
<div class="row">
  <div class="col-md-7">
    <h2>Select an Image</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><img src="{{ url_for('static', filename='upload.jpg') }}" style="height: 225px;" class="img"></p>
        <p><img src="{{ url_for('static', filename='test1.jpg') }}" style="height: 225px;" class="img"></p>
        <p><img src="{{ url_for('static', filename='test3.jpg') }}" style="height: 225px;" class="img"></p>
        <p><img src="{{ url_for('static', filename='test5.jpg') }}" style="height: 225px;" class="img"></p>
      </div>
      <div class="col-md-6">
        <p><img src="{{ url_for('static', filename='test2.jpg') }}" style="height: 225px;" class="img"></p>
        <p><img src="{{ url_for('static', filename='test4.jpg') }}" style="height: 225px;" class="img"></p>
        <p><img src="{{ url_for('static', filename='test6.jpg') }}" style="height: 225px;" class="img"></p>
        <p><img src="{{ url_for('static', filename='test7.jpg') }}" style="height: 225px;" class="img"></p>
      </div>

    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h2>Results</h2>
    <br>
    <p id="searching">Searching...</p>
    <p id="error">Oh no! No results! Check your internet connection.</p>
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
  </div>

</div>

<br>

{% endblock %}
